@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root > div {
  flex: 1 0 auto;
}
#root footer {
  flex-shrink: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
